<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @package_element_type.name %>
</p>

<%= link_to 'Edit', edit_package_element_type_path(@package_element_type) %> |
<%= link_to 'Back', package_element_types_path %>
