<div class="col-xs-12 col-sm-12 col-md-6">
	<h1>Edit Ingredient</h1>
</div>

<div class="col-xs-6 col-sm-4 col-md-3">
	<%= link_to 'Show', @ingredient, :class=> "btn btn-default" %>
</div>
<div class="col-xs-6 col-sm-4 col-md-3">
<%= link_to 'Back', ingredients_path, :class=> "btn btn-default" %>
</div>

<%= render 'form' %>
