

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="assets/Volkmans_w_scale3HDR1200x400.jpg" alt="Volkmans with scale">
          <div class="container">
            <div class="carousel-caption">
	            <div class="darken-background">
	              	<h1>Welcome to Volkman SeedFactory</h1>
                  <p>Quality.</p>
                  <p>Since 1863</p>
	            </div>
	            <p><a class="btn btn-lg btn-default" href="#welcome" role="button">Click here for more information</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="assets/Verselle_Laga_Prestige_cropped.jpg" alt="Verselle Laga products">
          <div class="container">
            <div class="carousel-caption">
 	            <div class="darken-background">
             		<h1>We Now Carry Versele Laga!</h1>
              		<p>Seed Factory has just finalized an agreement with Versele Laga, one of Europe's premier animal food and suppliment providers. We are excited to announce that the first order will be arriving on our shores soon.</p>
            	</div>
              	<p><a class="btn btn-lg btn-default" href="#VerseleLaga" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="assets/superZoo_announcement.jpg" alt="SuperZoo Winner 2014">
          <div class="container">
            <div class="carousel-caption">
	            <div>
             	</div>
                <p><a class="btn btn-lg btn-default" href="#superZoo" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img src="assets/all_devices140x240.jpg" alt="laptop, phone and tablet" style="width: 220px; height: 140px;">
          <h2>Bring Your Own Device</h2>
          <p>We are excited to announce the roll out of the new SeedFactory.com. Along with new updated content we have built it from the ground up to be accessable on all of your devices.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="assets/superZoo_logo140x170.jpg" style="width: 170px; height: 140px;">
          <h2>We Won!</h2>
          <p>Volkman's Seed Factory just won SuperZoo's "Best New Bird Product" category with our Avian Science African Grey Parrot mix.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="assets/Volkmans_commitment.jpg" style="width: 220px; height: 140px;">
          <h2>Quality First</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <a id="welcome" class="anchor"></a>
          <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <a id="VerseleLage" class="anchor"></a>
          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <a id="superZoo" class="anchor"></a>
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 Volkman Seed Factory, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div>